<div
  style="background-image: url('images/unveil.jpg');"
  class="md:h-[600px] h-[250px]  md:bg-cover bg-contain bg-no-repeat w-full "
>

</div>

<div class="  flex flex-col my-[5%] gap-6 mx-[5%]  justify-center items-center">
  <h1 class=" text-3xl font-bold border-2 border-l-0 border-r-0 border-t-0 border-b-[#91bea4] py-2 w-fit ">NO. 1 HERBAL MEDICINE</h1>
  <div class="text-center">
    Sluri herbal non-alcoholic drink is made with 100% natural ingredients. It
    is an ultimate libido boosting drink packed with many health benefits, which
    includes increasing vaginal lubrication, increasing libido and sexual
    desire, detoxifying the body system, eases bowel movement, being high in
    disease fighting antioxidants, helps to control blood sugar, helping to
    regulate hormones and many more.
  </div>

</div>

{{! Why Sluri }}
<div class="grid md:grid-cols-2 grid-cols-1 h-full my-12">
  <div class="bg-[#91bea4] text-secondary p-[10%] flex flex-col gap-6">
    <h1 class="font-bold text-4xl">Why Choose Herbal Medicine? </h1>

    <div class="text-lg">

      In Africa, herbal medicine is a key part of culture and health care. It
      uses plants and herbs that have been known for hundreds of years to help
      with health problems. Studies, including those recognized by the World
      Health Organization (WHO), show that these natural remedies can really
      work. Choosing herbal medicine means using nature's own treatments, proven
      over time to be effective and safe for many health issues.
    </div>
  </div>
  <div
    style="background-image: url('images/model1.jpg');"
    class="h-[500px] bg-center"
  >

  </div>

</div>

{{! CHAT DIV }}
<div
  style="background-image: url('images/chatbackground.jpg');"
  class="h-[600px] w-[100%] bg-contain flex justify-center items-center"
>
  {{! <img src="images/chatbackground.jpg" class="h-[600px] w-full" alt="" /> }}

  <div
    class="text-center md:w-[30%] w-[70%] flex flex-col gap-6 justify-center items-center bg-white bg-opacity-50 backdrop-blur-sm rounded-xl p-4"
  >
    <p class="text-3xl md:w-[55%] w-[70%] text-primary font-bold">Need Help? Chat With Us
      Today!</p>
    <p class="text-sm">If you're experiencing any issues or have questions,
      we're here to help. Our team is just a chat away, ready to provide the
      support you need, whenever you need it. Thank you for choosing us!</p>
    <button
      class="bg-primary text-sm text-white font-bold px-4 py-2 md:w-[40%] w-[60%]"
    >CHAT WITH US</button>

  </div>

</div>